<span id='TrackingJobBody' name='TrackingJobBody'>
    <p><strong>Agile Lead Practitioner</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p>Join our tribe here at Intellectual Capitol as an <strong>Agile Lead Practitioner.&nbsp; </strong>Located in the
        beautiful Raleigh, NC market area!</p>
    <p>&nbsp;</p>
    <p><strong>Agile Lead Practitioner Responsibilities</strong></p>
    <p><strong>&nbsp;</strong></p>
    <ul>
        <li>Coaches, mentors, and guides agile teams on their journey from ground zero to becoming self-sustaining, high
            performing agile teams.</li>
        <li>Drives adoption of Agile practices, techniques, and frameworks such as Scrum and Kanban, reducing the gap
            between agile theory and practice.</li>
        <li>Drives adoption of DevOps practices and frameworks to improve automation and team autonomy.</li>
        <li>Drives continuous improvement initiatives, which encourage the adoption of agile practices and result in
            improved execution.</li>
        <li>Builds expertise in the Agile and DevOps disciplines by coaching multiple Scrum teams.</li>
        <li>Provides guidance on creating Agile artifacts.</li>
        <li>Partners with other Agile Coaches and Scrum Masters across the organization to align and drive consistency
            and transparency throughout the organization.</li>
        <li>Fosters an environment of mutual respect and cooperation, transparency, autonomy, agility, learning,
            innovation, quality, and speed of execution.</li>
        <li>Builds solid working relationships and utilizes effective negotiation and persuasion skills in working
            across the organization.</li>
        <li>Manage and Deliver application development and enhancement efforts using the appropriate agile methodology.
        </li>
        <li>Work with the Product Manager/business owner to define the roadmap for any given effort and build release
            plans.</li>
        <li>Facilitate Kanban/Scrum meetings as needed.</li>
        <li>Facilitate agile ceremonies as needed.</li>
        <li>Coach Scrum Masters, Product Owners, and Development Team Members. Also be coachable.</li>
        <li>Work with appropriate technical team to create and manage Kanban/Scrum boards in Jira.</li>
        <li>Develops and communicate reporting metrics and/or program dashboards to stakeholders and leadership.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Agile Lead Practitioner Qualifications</strong></p>
    <p><strong>&nbsp;</strong></p>
    <ul>
        <li>Must have at least 5 years in a project delivery role</li>
        <li>Must have at least 3 years executing Agile projects in large, complex environments</li>
        <li>Must have at least 2 years experience in coaching, mentoring, and training new Agile/Scrum teams.</li>
        <li>Deep understanding of Agile values, principles, and practices (Scrum and Kanban).</li>
        <li>Hands on experience in Scrum and Kanban.</li>
        <li>Strong facilitation and communication skills.</li>
        <li>Strong interpersonal and conflict resolution skills.</li>
        <li>Effective leadership and negotiation skills.</li>
        <li>Adaptive coaching style and the ability to work hands-on with teams in an advisor role with the ability to
            adapt based on the agile readiness of the team</li>
        <li>Enthusiastic and maintains a positive, high-energy attitude.</li>
        <li>Drive for continuous learning</li>
        <li>Highly efficient in coaching Scrum Masters, Product Owners, and Team Member.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Certification</strong></p>
    <p><strong>&nbsp;</strong></p>
    <ul>
        <li>Certified Scrum Master/Certified Product Owner/Certified Team Coach</li>
    </ul>
    <p>&nbsp;</p>
</span>